*{
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #112D32 ;
}
h1 , h4, p , a{
  color: white;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.btn { 
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background:  rgb(248,217,15) ;
  color: #222;
  border : 1px solid white;
  cursor: pointer;
}

.btn-light{ 
 background: transparent;
 color: white;
}
.btn:hover{
  background: rgba(255,255,255,0.2);
  color: #fff;
  transition: 0.3s;
}